@charset "UTF-8";
/* CSS Document */

html, body {
  margin: 0px;
}

.clear {
  clear: both;
}

#wrapper {
  width: 100%;
  max-width: 960px;
  margin: auto;
}


/*---------- HEADER ----------*/

header {
  height: 300px;
  width: 100%;
  background: #e3e3e3;
}


/*---------- CONTENT AREA ----------*/

.col-3 {
  width: 100%;
  height: 320px;
  float: left;
}

#column-1 {
  background: #9055a2;
}

#column-2 {
  background: #d499b9;
}

#column-3 {
  background: #e8c1c5;
}


/*---------- FOOTER ----------*/

footer {
  width: 100%;
  height: 30px;
  background: #e3e3e3;
}


/*---------- TABLET ----------*/
/* Change the background colors below */

@media (min-width: 768px) {
  header {
    background-color: #bf211e;
  }

  #column-1 {
    background-color: #e9ce2c;
  }

  #column-2 {
    background-color: #f9dc5c;
  }

  #column-3 {
    background-color: #e5f993;
    width: 100%; /*We are making this 100% instead of 50% to avoid an empty space.*/
  }

  footer {
    background-color: #69a197;
  }
  
  .col-3 {
    width: 50%; /*Under the tablet media query, we change the columns' width to 50% to make them half-width.*/
  }
}


/*---------- Desktops ----------*/
@media (min-width: 1200px) {
  header {
    background-color: #cc444b;
  }

  #column-1 {
    background-color: #da5552;
  }

  #column-2 {
    background-color: #df7373;
  }

  #column-3 {
    background-color: #e39695;
    width: 33.3%; /*Not sure why I had to put 33.3% here if they're all equal?*/
  }

  footer {
    background-color: #e4b1ab;
  }
   
  .col-3 {
    width: 33.3%; /*This makes the columns one-third wdith*/
  }
}
